 
        #footer{
            width:85%;
            margin:auto;
            margin-top: 25px;
            display: flex;
            justify-content: space-evenly;

        }
        h4{
            margin-bottom: 20px;
        }
        p{
          line-height: 25px;
          font-size: 13PX;
          color:rgb(81, 81, 228)
         
        }
        #mm{
            width:18%;
            margin:auto;
            margin-top: 30PX;
        }
        #mm+p{
            text-align: center;
            margin-bottom: 30px;
            color:rgb(88, 88, 88)
        }
        @media only screen and (min-width: 320px) and (max-width: 599px){
            p{
                font-size:10PX;
              }
              h4{
                font-size: 12px;
            }
            img{
                width:70%;
            }
            #footer{
                width:90%;
            }
        }