*{
    margin:0px;
    padding:0px;
}
.navbar{
    width:98%;
    display:flex;
    border:1px solid gray;
    padding: 20px;
    text-align: center;
    justify-content:space-around;

}
.navbar>div{
    width:40%;
    display:flex;
  
    gap:20px;
    margin:auto;
   align-items: center;
   
}
.navbar>div+div{
    display: flex;
    justify-content: flex-end;
    gap:30px;
}